# Core app and UI
streamlit==1.35.0
streamlit-option-menu==0.3.6
streamlit-extras==0.3.5

# Data & analysis
pandas==2.2.2
numpy==2.0.0
scikit-learn==1.5.0
joblib==1.4.2

# Plotting
plotly==5.24.1

# Optimizer
optuna==3.6.1

# Other
matplotlib==3.9.0
